<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.ViewAppointmentMapper">

    <select id="getDetailByUserId" resultType="com.atguigu.lease.web.app.vo.appointment.AppointmentItemVo">
        select va.id,
               va.apartment_id as apartment_id,
               va.appointment_time,
               va.appointment_status,
               ai.name apartment_name
        from view_appointment va
                 left join apartment_info ai on va.apartment_id = ai.id and ai.is_deleted = 0
        where va.is_deleted = 0
          and user_id = #{id}
        order by va.id desc

    </select>

    <select id="listApartmentGraphsByApartmentIds" resultType="com.atguigu.lease.web.app.vo.graph.GraphVo">
        select
        item_id as apartmentId,
        url,
        name
        from graph_info
        where is_deleted = 0
        and item_type = 1
        and item_id in
        <foreach collection="apartmentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
